* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weigh);
	font-size: var(--main-font-size);
	background-color: var(--light-color);
	color: var(--color-text-dark);
}

html {
	//для плавной прокрутки scrollTop
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-weight: var(--main-font-weight);
}

span {
	display: inline-block;
	margin: 0;
	padding: 0;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button,
textarea {
	font-family: inherit;
}
